.todo-item label {
    padding-left: 5px;
}

.complete label {
    text-decoration: line-through;
    color: gray;
}

.todos-list {
    padding-top: 30px;
}

ul.categories {
    padding-top: 40px;
}

.active {
    background-color: #c9c8c8;
}

.todo-content {
    margin-left: 20px;
}